@import './fonts.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {
  * {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-white font-yekanbakh;
  }

  .scroll-thin {
    scrollbar-width: thin;
  }

  .scroll-thin::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  .scroll-thin::-webkit-scrollbar-thumb {
    background-color: rgba(100, 100, 100, 0.5);
    border-radius: 10px;
  }

  .scroll-thin::-webkit-scrollbar-track {
    background: transparent;
  }

}


@layer components {
  .shadow-neg {
    box-shadow: -3px -3px 8px 1px rgba(116, 116, 116, 0.15);
  }

}